.current {
    color: #093014;
    font-size: 25px;
    line-height: 1.5;
    border-width: 3px;
    border-style: groove;
    border-color: #dadfe1;
    padding: 5px 20px;
    background-color: #adb1b1;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 25px;
    display: inline-block;
    font-weight: bold;
}